.header-container {
    background-color: #007bff;
    padding: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.nav-link.active {
    font-weight: bold;
}
